@page "/admin/add-role"
@model App.Admin.Role.CreateModel
@{
    ViewData["Title"] = "Thêm role";

}
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                 <a class="btn btn-secondary" value="Danh sách" asp-page="./Index">Danh sách</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
