@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại xác nhận mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được thay đổi. Nhấn <a asp-page="./Login">vào đây để đăng nhập</a>.
</p>
