
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<a asp-route="learnasproute" asp-route-id="1">Bài học 1</a>
<a asp-controller="LearnAsp" asp-action="Index" asp-route-id="123">Học  Asp</a>

